
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    position: relative;
    height: 100vh;
    display: flex;

    background-color: #ededed;
    justify-content: center;
    align-items: center;

}

.card{
    width: 130px;
    height: 130px;
    position: relative;

    transform-style: preserve-3d;

    transition: transform .5s;
}

.front, .back{
    width: 100%;
    height: 100%;

    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    backface-visibility: hidden;
}

.flip{
    transform: rotateY(180deg);
}
.front{
    background-color: #101c2c;

    transform: rotateY(180deg);
}
.back{
    background-color:  #800080;

    cursor: pointer;

   
}


#gameOver{
    position: absolute;  
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.9);

    top: 0;
    left: 0;

    color: white;
    font-size: 40px;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#gameOver p{
    font-weight: bold;

    margin-bottom: 10px;
}

#gameOver #btn{
    padding: 20px;
    font-size: 20px;

    background-color: yellow;

    border-radius: 10px;
    border:none;

    cursor: pointer;

    margin-top: 10px;

    font-weight: bold;
}
#game{
  
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr  / 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;

    
}

@media(max-width: 700px ){
    #game{
        width: 500px;
        height: 90vh;
        grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
        gap: 8px;
    }
    .card{
        width: 100%;
        height: 100%;
        justify-self: center;
    }

    #gameOver{
        font-size: 30px;
        width: 100%;
    }

    #gameOver #btn{
        padding: 10px;
        font-weight: bold;
    }
}

@media(max-width: 560px){
    .card{
        width: 100%;
        height: 100%;
        justif-self:center;
    }

    #gameOver{
        font-size: 30px;
        width: 100%;
    }

    #gameOver #btn{
        padding: 10px;
        font-weight: bold;
    }
}
